---
import type { Post } from '@/helpers/content/schema'
import { DateTime } from 'luxon'
import config from '@/blog.config'
import FeaturePost from '@/components/page/post/FeaturePost.astro'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props
function historicalPosts(): Post[] {
  // Skip the first 6 pages.
  const offset = config.settings.pagination.posts * 10
  if (posts.length - offset < 43 * 3 + 2) {
    // Can't generate historical posts.
    return []
  }

  const now = DateTime.now().setZone(config.settings.timeZone)
  const radical = now.month + now.day

  return [posts[offset + radical + 43 * 2 - 1], posts[offset + radical + 43 - 1], posts[offset + radical - 1]]
}
const featurePosts = config.settings.post.feature ?? []

const metas: Post[] =
  featurePosts.length < 3
    ? historicalPosts()
    : featurePosts
        .map((slug) => posts.find((post) => post.slug === slug))
        .filter((post) => post !== undefined)
        .slice(0, 3)
---

{
  metas.length === 3 && (
    <div class="list-top-pushes mb-3 md:mb-4 lg:mb-5">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-2 md:gap-3 list-grouped">
          <div class="lg:col-span-8">
            <FeaturePost post={metas[0]} />
          </div>
          <div class="lg:col-span-4">
            <div class="grid grid-cols-2 lg:grid-cols-1 gap-2 md:gap-3 w-full">
              <FeaturePost post={metas[1]} />
              <FeaturePost post={metas[2]} />
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
