.toggle-menu-tree {
  top: 0;
  bottom: 0;
  font-size: 1.375rem;
  position: fixed;
  right: 0;
  margin-right: -5rem;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 0.35rem;
  color: #555;
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  line-height: 6.25rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #f0f0f0;
  opacity: 1;
  font-family: -apple-system;
  z-index: 890;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
  -moz-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
}

.toggle-menu-tree i {
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.toggle-menu-tree:hover {
  background: #fafafa;
  -webkit-transform: translateX(-1.25rem);
  -moz-transform: translateX(-1.25rem);
  -ms-transform: translateX(-1.25rem);
  -o-transform: translateX(-1.25rem);
  transform: translateX(-1.25rem);
}
