---
import type { MarkdownHeading } from 'astro'
import type { TocOpts } from '@/services/markdown/toc'
import config from '@/blog.config'
import TocItems from '@/components/page/toc/TocItems.astro'
import { generateToC } from '@/services/markdown/toc'
import Icon from '@/ui/icons/Icon.astro'

interface Props {
  headings: MarkdownHeading[]
  toc: boolean
}

const { headings, toc } = Astro.props
const generateTocConfig = toc
  ? ({
      maxHeadingLevel: config.settings.toc.maxHeadingLevel,
      minHeadingLevel: config.settings.toc.minHeadingLevel,
    } satisfies TocOpts)
  : false
const items = generateToC(headings, generateTocConfig)
---

{
  items.length > 0 && (
    <Fragment>
      <a class="toggle-menu-tree">
        <Icon name="left" class="text-md" />
      </a>
      <div class="post-menu">
        <div class="toc-wrap">
          <div class="toc-content">
            <h2 class="post-menu-title">文章目录</h2>
            <div class="index-menu">
              <TocItems {items} />
            </div>
          </div>
        </div>
      </div>
      <div class="post-menu-overlay" />
    </Fragment>
  )
}
