---
import { generateToC, type TocOpts } from '@/helpers/toc';
import type { MarkdownHeading } from 'astro';
import './style.css';
import TocItems from './TocItems.astro';

interface Props {
  headings: MarkdownHeading[];
  toc: TocOpts | false;
}

const { headings, toc } = Astro.props;
const items = generateToC(headings, toc);
---

{
  items.length > 0 && (
    <Fragment>
      <a class="toggle-menu-tree">
        <i class="text-md iconfont icon-left" />
      </a>
      <div class="post-menu">
        <div class="toc-wrap">
          <div class="toc-content">
            <h2 class="post-menu-title">文章目录</h2>
            <div class="index-menu">
              <TocItems {items} />
            </div>
          </div>
        </div>
      </div>
    </Fragment>
  )
}
