---
import Resolver from '@/components/netease/resolver';
import 'aplayer/dist/APlayer.min.css';

interface Props {
  id: string;
}

const { id } = Astro.props;
const nm = new Resolver();
const info = await nm.song(id);
const url = await nm.url(id);

console.log(JSON.stringify(info.songs[0]));
console.log(JSON.stringify(url));
---

<div
  id="aplayer"
  data-name={info.songs[0].name}
  data-artist={info.songs[0].ar[0].name}
  data-url={url.data[0].url}
  data-cover={info.songs[0].al.picUrl}
>
  网易云音乐加载 ing
</div>
<script is:inline src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script is:inline>
  const tag = document.getElementById('aplayer');
  new APlayer({
    container: document.getElementById('aplayer'),
    audio: [
      {
        name: tag.dataset.name,
        artist: tag.dataset.artist,
        url: tag.dataset.url,
        cover: tag.dataset.cover,
        theme: '#ebd0c2',
      },
    ],
  });
</script>
