# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# PostgreSQL configuration.
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Github Application
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Artalk configuration
ARTALK_SCHEME=
ARTALK_HOST=
ARTALK_PORT=

# Open Graph Switch
BUILD_OPEN_GRAPH=true
