/**
 * OPPO Sans Fonts from: https://db.quike.com.cn/_nuxt/fonts/
 */
@font-face {
  font-family: 'OPPOSans';
  src:
    url(https://lzcdn.dianpusoft.cn/fonts/OPPOSans/OPPOSans-S-M.woff2) format('woff2'),
    url(https://lzcdn.dianpusoft.cn/fonts/OPPOSans/OPPOSans-S-M.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
