---
interface Props {
    title: string
    src: string
}

const { title, src } = Astro.props
---
<div class="pdf-viewer" data-src={src} data-title={title}></div>

<script>
import EmbedPDF, { ZoomMode } from '@embedpdf/snippet'

document.querySelectorAll('.pdf-viewer').forEach((container) => {
  if (container instanceof HTMLElement) {
    EmbedPDF.init({
      type: 'container',
      target: container,
      src: container.dataset.src,
      theme: { preference: 'system' },
      zoom: {
        defaultZoomLevel: ZoomMode.FitWidth,
      },
    })
  }
})
</script>
