/**
 * OPPO Sans Fonts
 */
@font-face {
  font-family: 'OPPOSans';
  src: url(opposans.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'OPPOSans';
  src: url(opposans.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'OPPOSans';
  src: url(opposans.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'OPPOSans';
  src: url(opposans.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'OPPOSans';
  src: url(opposans.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
