---
import { queryLikes } from '@/helpers/db/query';
import type { Post } from '@/helpers/schema';

interface Props {
  post: Post;
}

const { post } = Astro.props;
const likes = await queryLikes(post.slug);
---

<div>
  <i class="text-md iconfont icon-heart-fill"></i>
  <span class="like-count">{likes}</span>
</div>
