---
import { queryLikes } from '@/services/comments/likes'
import Icon from '@/ui/icons/Icon.astro'

interface Props {
  permalink: string
}

const { permalink } = Astro.props
const likes = await queryLikes(permalink)
---

<div class="post-action text-center mt-5">
  <button
    class="post-like btn btn-secondary btn-lg btn-rounded"
    title="Do you like me?"
    type="button"
    data-permalink={permalink}
  >
    <Icon name="heart-fill" class="me-1" />
    <span class="like-count">{likes}</span>
  </button>
</div>
