/**
 * OPPO Sans Fonts from: https://db.quike.com.cn/_nuxt/fonts/
 */
@font-face {
  font-family: "OPPOSans";
  src: url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-B.d74d1bd.woff2) format("woff2"), url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-B.b8436d4.woff) format("woff");
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "OPPOSans";
  src: url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-M.7116b96.woff2) format("woff2"), url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-M.fded0eb.woff) format("woff");
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "OPPOSans";
  src: url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-R.468eaab.woff2) format("woff2"), url(https://db.quike.com.cn/_nuxt/fonts/OPPOSans-R.c920f27.woff) format("woff");
  font-variation-settings: 'wght' 400;
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
