---
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
  error: unknown
}

const { error } = Astro.props
---

<BaseLayout title="内部错误">
  <div class="data-null">
    <div class="my-auto">
      <h1 class="font-number">❌500</h1>
      <div>抱歉，网站系统出现内部错误。请刷新页面重试，或者返回上一页。</div>
      <div>{error instanceof Error ? error.message : '未知错误'}</div>
    </div>
  </div>
</BaseLayout>
