---
import { getCollection, getEntry } from 'astro:content';

import { categories, friends, options, pages, posts, tags } from '@/content/schema';
import Layout from '@/layouts/BaseLayout.astro';

const { Content, headings } = await posts[2].render();
---

<Layout>
  <h2>First Post</h2>
  <Content />
  <code>{JSON.stringify(headings)}</code>
</Layout>
