<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PHP 8.0</title>
</head>
<body>
  <div id="output">正在加载 PHP 环境。</div>
</body>
</html>

<script>
  import '@/assets/scripts/phpinfo'
</script>
