<html>
  <head>
    <title>雅黑PHP探针[简体版]v0.4.7</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <a name="w_top"></a>
    <div id="page">
      <table>
        <tr>
          <th class="w_logo">雅黑PHP探针</th>
          <th class="w_top"><a href="#w_php">PHP参数</a></th>
          <th class="w_top"><a href="#w_module">组件支持</a></th>
          <th class="w_top"><a href="#w_module_other">第三方组件</a></th>
          <th class="w_top"><a href="#w_db">数据库支持</a></th>
          <th class="w_top"><a href="#w_performance">性能检测</a></th>
          <th class="w_top"><a href="#w_networkspeed">网速检测</a></th>
          <th class="w_top"><a href="#w_MySQL">MySQL检测</a></th>
          <th class="w_top"><a href="#w_function">函数检测</a></th>
          <th class="w_top"><a href="#w_mail">邮件检测</a></th>
          <th class="w_top"><a href="http://www.yahei.net/tz/tz.zip">探针下载</a></th>
        </tr>
      </table>

      <!--服务器相关参数-->
      <table>
        <tr><th colspan="4">服务器参数</th></tr>
        <tr>
          <td>服务器域名/IP地址</td>
          <td colspan="3">www - _(172.17.106.80)&nbsp;&nbsp;你的IP地址是：36.63.178.107</td>
        </tr>
        <tr>
          <td>服务器标识</td>
          <td colspan="3"
            >Linux iZ2zec2u8brybdzlwa3b8xZ 2.6.32-754.29.2.el6.x86_64 #1 SMP Tue May 12 17:39:04 UTC 2020 x86_64</td
          >
        </tr>
        <tr>
          <td style="width: 13%">服务器操作系统</td>
          <td style="width: 37%">Linux &nbsp;内核版本：2.6.32-754.29.2.el6.x86_64</td>
          <td style="width: 13%">服务器解译引擎</td>
          <td style="width: 37%">nginx/1.12.0</td>
        </tr>
        <tr>
          <td>服务器语言</td>
          <td>en,zh;q=0.9,en-US;q=0.8,zh-CN;q=0.7</td>
          <td>服务器端口</td>
          <td>80</td>
        </tr>
        <tr>
          <td>服务器主机名</td>
          <td>iZ2zec2u8brybdzlwa3b8xZ</td>
          <td>绝对路径</td>
          <td>/data/wwwroot/default</td>
        </tr>
        <tr>
          <td>管理员邮箱</td>
          <td></td>
          <td>探针路径</td>
          <td>/data/wwwroot/default/tz.php</td>
        </tr>
      </table>

      <table>
        <tr><th colspan="6">服务器实时数据</th></tr>
        <tr>
          <td style="width: 13%">服务器当前时间</td>
          <td style="width: 37%"><span id="stime">2026-01-09 00:22:09</span></td>
          <td style="width: 13%">服务器已运行时间</td>
          <td style="width: 37%" colspan="3"><span id="uptime">893天2小时32分钟</span></td>
        </tr>
        <tr>
          <td style="width: 13%">CPU型号 [1核]</td>
          <td style="width: 87%" colspan="5"
            >Intel(R) Xeon(R) CPU E5-2682 v4 @ 2.50GHz | 频率:2500.026 | 二级缓存:40960 KB | Bogomips:5000.05</td
          >
        </tr>
        <tr>
          <td>CPU使用状况</td>
          <td colspan="5"
            >4.04%us, 1.01%sy, 0%ni, 94.95%id, 0%wa, 0%irq, 0%softirq | <a
              href="?act=cpu_percentage"
              target="_blank"
              class="static">查看图表</a
            >
          </td>
        </tr>
        <tr>
          <td>硬盘使用状况</td>
          <td colspan="5">
            总空间 39.246&nbsp;G， 已用 <font color="#333333"><span id="useSpace">17.111</span></font>&nbsp;G， 空闲 <font
              color="#333333"><span id="freeSpace">22.135</span></font
            >&nbsp;G， 使用率 <span id="hdPercent">43.6</span>%
            <div class="bar"><div id="barhdPercent" class="barli_black" style="width:43.6%">&nbsp;</div></div>
          </td>
        </tr>
        <tr>
          <td>内存使用状况</td>
          <td colspan="5">
            物理内存：共
            <font color="#CC0000">3.868 G </font>
            , 已用
            <font color="#CC0000"><span id="UsedMemory">3.036 G</span></font>
            , 空闲
            <font color="#CC0000"><span id="FreeMemory">0.832 G</span></font>
            , 使用率
            <span id="memPercent">78.49</span>
            <div class="bar"><div id="barmemPercent" class="barli_green" style="width:78.49%">&nbsp;</div></div>

            Cache化内存为 <span id="CachedMemory">1.703 G</span>
            , 使用率
            <span id="memCachedPercent">44.03</span>
            % | Buffers缓冲为 <span id="Buffers">0.133 G</span>
            <div class="bar"><div id="barmemCachedPercent" class="barli_blue" style="width:44.03%">&nbsp;</div></div>

            真实内存使用
            <span id="memRealUsed">1.2 G</span>
            , 真实内存空闲
            <span id="memRealFree">2.668 G</span>
            , 使用率
            <span id="memRealPercent">31.02</span>
            %
            <div class="bar_1"><div id="barmemRealPercent" class="barli_1" style="width:31.02%">&nbsp;</div></div>
          </td>
        </tr>
        <tr>
          <td>系统平均负载</td>
          <td colspan="5" class="w_number"><span id="loadAvg">0.00 0.00 0.00 1/265</span></td>
        </tr>
      </table>

      <table>
        <tr><th colspan="5">网络使用状况</th></tr>
        <tr>
          <td style="width: 13%">lo : </td>
          <td style="width: 29%">入网: <font color="#CC0000"><span id="NetInput2">2 M 636 K 419 B </span></font></td>
          <td style="width: 14%">实时: <font color="#CC0000"><span id="NetInputSpeed2">0B/s</span></font></td>
          <td style="width: 29%">出网: <font color="#CC0000"><span id="NetOut2">2 M 636 K 419 B </span></font></td>
          <td style="width: 14%">实时: <font color="#CC0000"><span id="NetOutSpeed2">0B/s</span></font></td>
        </tr>
        <tr>
          <td style="width: 13%">eth0 : </td>
          <td style="width: 29%"
            >入网: <font color="#CC0000"><span id="NetInput3">60 G 537 M 80 K 262 B </span></font></td
          >
          <td style="width: 14%">实时: <font color="#CC0000"><span id="NetInputSpeed3">0B/s</span></font></td>
          <td style="width: 29%"
            >出网: <font color="#CC0000"><span id="NetOut3">1 T 336 G 976 M 388 K 24 B </span></font></td
          >
          <td style="width: 14%">实时: <font color="#CC0000"><span id="NetOutSpeed3">0B/s</span></font></td>
        </tr>
      </table>

      <table style="width: 100%" cellpadding="3" cellspacing="0" style="align: center">
        <tr>
          <th colspan="4">PHP已编译模块检测</th>
        </tr>
        <tr>
          <td colspan="4"
            ><span class="w_small">
              Core&nbsp;&nbsp;date&nbsp;&nbsp;libxml&nbsp;&nbsp;openssl&nbsp;&nbsp;pcre&nbsp;&nbsp;sqlite3&nbsp;&nbsp;zlib&nbsp;&nbsp;bcmath&nbsp;&nbsp;ctype&nbsp;&nbsp;curl&nbsp;&nbsp;dom&nbsp;&nbsp;hash&nbsp;&nbsp;filter&nbsp;&nbsp;<br
              />ftp&nbsp;&nbsp;gd&nbsp;&nbsp;gettext&nbsp;&nbsp;SPL&nbsp;&nbsp;iconv&nbsp;&nbsp;intl&nbsp;&nbsp;json&nbsp;&nbsp;mbstring&nbsp;&nbsp;mcrypt&nbsp;&nbsp;session&nbsp;&nbsp;standard&nbsp;&nbsp;pcntl&nbsp;&nbsp;mysqlnd&nbsp;&nbsp;<br
              />PDO&nbsp;&nbsp;pdo_mysql&nbsp;&nbsp;pdo_sqlite&nbsp;&nbsp;Phar&nbsp;&nbsp;posix&nbsp;&nbsp;Reflection&nbsp;&nbsp;mysqli&nbsp;&nbsp;shmop&nbsp;&nbsp;SimpleXML&nbsp;&nbsp;soap&nbsp;&nbsp;sockets&nbsp;&nbsp;exif&nbsp;&nbsp;sysvsem&nbsp;&nbsp;<br
              />tokenizer&nbsp;&nbsp;xml&nbsp;&nbsp;xmlreader&nbsp;&nbsp;xmlrpc&nbsp;&nbsp;xmlwriter&nbsp;&nbsp;xsl&nbsp;&nbsp;zip&nbsp;&nbsp;cgi-fcgi&nbsp;&nbsp;imagick&nbsp;&nbsp;memcache&nbsp;&nbsp;memcached&nbsp;&nbsp;ionCube
              Loader&nbsp;&nbsp;Zend OPcache&nbsp;&nbsp;</span
            >
          </td>
        </tr>
      </table>

      <a name="w_php"></a>
      <table>
        <tr><th colspan="4">PHP相关参数</th></tr>
        <tr>
          <td style="width: 32%">PHP信息（phpinfo）：</td>
          <td style="width: 18%">
            <a href="/phpinfo.php" target="_blank">PHPINFO</a>
          </td>
          <td style="width: 32%">PHP版本（php_version）：</td>
          <td style="width: 18%">7.0.20</td>
        </tr>
        <tr>
          <td>PHP运行方式：</td>
          <td>FPM-FCGI</td>
          <td>脚本占用最大内存（memory_limit）：</td>
          <td>320M</td>
        </tr>
        <tr>
          <td>PHP安全模式（safe_mode）：</td>
          <td><font color="red">×</font></td>
          <td>POST方法提交最大限制（post_max_size）：</td>
          <td>100M</td>
        </tr>
        <tr>
          <td>上传文件最大限制（upload_max_filesize）：</td>
          <td>50M</td>
          <td>浮点型数据显示的有效位数（precision）：</td>
          <td>14</td>
        </tr>
        <tr>
          <td>脚本超时时间（max_execution_time）：</td>
          <td>600秒</td>
          <td>socket超时时间（default_socket_timeout）：</td>
          <td>60秒</td>
        </tr>
        <tr>
          <td>PHP页面根目录（doc_root）：</td>
          <td><font color="red">×</font></td>
          <td>用户根目录（user_dir）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>dl()函数（enable_dl）：</td>
          <td><font color="red">×</font></td>
          <td>指定包含文件目录（include_path）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>显示错误信息（display_errors）：</td>
          <td><font color="red">×</font></td>
          <td>自定义全局变量（register_globals）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>数据反斜杠转义（magic_quotes_gpc）：</td>
          <td><font color="red">×</font></td>
          <td>"&lt;?...?&gt;"短标签（short_open_tag）：</td>
          <td><font color="green">√</font></td>
        </tr>
        <tr>
          <td>"&lt;% %&gt;"ASP风格标记（asp_tags）：</td>
          <td><font color="red">×</font></td>
          <td>忽略重复错误信息（ignore_repeated_errors）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>忽略重复的错误源（ignore_repeated_source）：</td>
          <td><font color="red">×</font></td>
          <td>报告内存泄漏（report_memleaks）：</td>
          <td><font color="green">√</font></td>
        </tr>
        <tr>
          <td>自动字符串转义（magic_quotes_gpc）：</td>
          <td><font color="red">×</font></td>
          <td>外部字符串自动转义（magic_quotes_runtime）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>打开远程文件（allow_url_fopen）：</td>
          <td><font color="green">√</font></td>
          <td>声明argv和argc变量（register_argc_argv）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>Cookie 支持：</td>
          <td><font color="green">√</font></td>
          <td>拼写检查（ASpell Library）：</td>
          <td><font color="red">×</font></td>
        </tr>
        <tr>
          <td>高精度数学运算（BCMath）：</td>
          <td><font color="green">√</font></td>
          <td>PREL相容语法（PCRE）：</td>
          <td><font color="green">√</font></td>
          <tr>
            <td>PDF文档支持：</td>
            <td><font color="red">×</font></td>
            <td>SNMP网络管理协议：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>VMailMgr邮件处理：</td>
            <td><font color="red">×</font></td>
            <td>Curl支持：</td>
            <td><font color="green">√</font></td>
          </tr>
          <tr>
            <td>SMTP支持：</td>
            <td><font color="green">√</font></td>
            <td>SMTP地址：</td>
            <td>localhost</td>
          </tr>
          <tr>
            <td>默认支持函数（enable_functions）：</td>
            <td colspan="3"><a href="/tz.php?act=Function" target="_blank" class="static">请点这里查看详细！</a></td>
          </tr>
          <tr>
            <td>被禁用的函数（disable_functions）：</td>
            <td colspan="3" class="word">
              passthru&nbsp;&nbsp;exec&nbsp;&nbsp;system&nbsp;&nbsp;chroot&nbsp;&nbsp;chgrp&nbsp;&nbsp;<br
              />chown&nbsp;&nbsp;shell_exec&nbsp;&nbsp;proc_open&nbsp;&nbsp;proc_get_status&nbsp;&nbsp;ini_alter&nbsp;&nbsp;<br
              />ini_restore&nbsp;&nbsp;dl&nbsp;&nbsp;openlog&nbsp;&nbsp;syslog&nbsp;&nbsp;readlink&nbsp;&nbsp;<br
              />symlink&nbsp;&nbsp;popepassthru&nbsp;&nbsp;stream_socket_server&nbsp;&nbsp;fsocket&nbsp;&nbsp;popen&nbsp;&nbsp;
            </td>
          </tr>
        </tr>

        <a name="w_module"></a>
        <!--组件信息-->
        <table>
          <tr><th colspan="4">组件支持</th></tr>
          <tr>
            <td style="width: 32%">FTP支持：</td>
            <td style="width: 18%"><font color="green">√</font></td>
            <td style="width: 32%">XML解析支持：</td>
            <td style="width: 18%"><font color="green">√</font></td>
          </tr>
          <tr>
            <td>Session支持：</td>
            <td><font color="green">√</font></td>
            <td>Socket支持：</td>
            <td><font color="green">√</font></td>
          </tr>
          <tr>
            <td>Calendar支持</td>
            <td><font color="red">×</font> </td>
            <td>允许URL打开文件：</td>
            <td><font color="green">√</font></td>
          </tr>
          <tr>
            <td>GD库支持：</td>
            <td> bundled (2.1.0 compatible)</td>
            <td>压缩文件支持(Zlib)：</td>
            <td><font color="green">√</font></td>
          </tr>
          <tr>
            <td>IMAP电子邮件系统函数库：</td>
            <td><font color="red">×</font></td>
            <td>历法运算函数库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>正则表达式函数库：</td>
            <td><font color="green">√</font></td>
            <td>WDDX支持：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>Iconv编码转换：</td>
            <td><font color="green">√</font></td>
            <td>mbstring：</td>
            <td><font color="green">√</font></td>
          </tr>
          <tr>
            <td>高精度数学运算：</td>
            <td><font color="green">√</font></td>
            <td>LDAP目录协议：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>MCrypt加密处理：</td>
            <td><font color="red">×</font></td>
            <td>哈稀计算：</td>
            <td><font color="green">√</font></td>
          </tr>
        </table>

        <a name="w_module_other"></a>
        <!--第三方组件信息-->
        <table>
          <tr><th colspan="4">第三方组件</th></tr>
          <tr>
            <td style="width: 32%">Zend版本</td>
            <td style="width: 18%">3.0.0</td>
            <td style="width: 32%"> Zend Optimizer </td>
            <td style="width: 18%"><font color="red">×</font></td>
          </tr>
          <tr>
            <td>eAccelerator</td>
            <td><font color="red">×</font></td>
            <td>ioncube</td>
            <td>6.1.0</td>
          </tr>
          <tr>
            <td>XCache</td>
            <td><font color="red">×</font></td>
            <td>APC</td>
            <td><font color="red">×</font></td>
          </tr>
        </table>

        <a name="w_db"></a>
        <!--数据库支持-->
        <table>
          <tr><th colspan="4">数据库支持</th></tr>
          <tr>
            <td style="width: 32%">MySQL 数据库：</td>
            <td style="width: 18%"><font color="red">×</font> </td>
            <td style="width: 32%">ODBC 数据库：</td>
            <td style="width: 18%"><font color="red">×</font></td>
          </tr>
          <tr>
            <td>Oracle 数据库：</td>
            <td><font color="red">×</font></td>
            <td>SQL Server 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>dBASE 数据库：</td>
            <td><font color="red">×</font></td>
            <td>mSQL 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>SQLite 数据库：</td>
            <td><font color="green">√</font> SQLite3 Ver 3.14.2</td>
            <td>Hyperwave 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>Postgre SQL 数据库：</td>
            <td><font color="red">×</font></td>
            <td>Informix 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>DBA 数据库：</td>
            <td><font color="red">×</font></td>
            <td>DBM 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
          <tr>
            <td>FilePro 数据库：</td>
            <td><font color="red">×</font></td>
            <td>SyBase 数据库：</td>
            <td><font color="red">×</font></td>
          </tr>
        </table>

        <a name="w_performance"></a><a name="bottom"></a>
        <form action="/tz.php#bottom" method="post">
          <!--服务器性能检测-->
          <table>
            <tr><th colspan="5">服务器性能检测</th></tr>
            <tr style="align: center">
              <td style="width: 19%">参照对象</td>
              <td style="width: 17%">整数运算能力检测<br />(1+1运算300万次)</td>
              <td style="width: 17%">浮点运算能力检测<br />(圆周率开平方300万次)</td>
              <td style="width: 17%">数据I/O能力检测<br />(读取10K文件1万次)</td>
              <td style="width: 30%">CPU信息</td>
            </tr>
            <tr style="align: center">
              <td align="left">美国 LinodeVPS</td>
              <td>0.357秒</td>
              <td>0.802秒</td>
              <td>0.023秒</td>
              <td align="left">4 x Xeon L5520 @ 2.27GHz</td>
            </tr>
            <tr style="align: center">
              <td align="left">美国 PhotonVPS.com</td>
              <td>0.431秒</td>
              <td>1.024秒</td>
              <td>0.034秒</td>
              <td align="left">8 x Xeon E5520 @ 2.27GHz</td>
            </tr>
            <tr style="align: center">
              <td align="left">德国 SpaceRich.com</td>
              <td>0.421秒</td>
              <td>1.003秒</td>
              <td>0.038秒</td>
              <td align="left">4 x Core i7 920 @ 2.67GHz</td>
            </tr>
            <tr style="align: center">
              <td align="left">美国 RiZie.com</td>
              <td>0.521秒</td>
              <td>1.559秒</td>
              <td>0.054秒</td>
              <td align="left">2 x Pentium4 3.00GHz</td>
            </tr>
            <tr style="align: center"> <td align="left">埃及 CitynetHost.com</td></tr>
            <td>0.343秒</td>
            <td>0.761秒</td>
            <td>0.023秒</td>
            <td align="left">2 x Core2Duo E4600 @ 2.40GHz</td>
          </table>
          <tr style="align: center">
            <td align="left">美国 IXwebhosting.com</td>
            <td>0.535秒</td>
            <td>1.607秒</td>
            <td>0.058秒</td>
            <td align="left">4 x Xeon E5530 @ 2.40GHz</td>
          </tr>
          <tr style="align: center">
            <td>本台服务器</td>
            <td>未测试<br /><input class="btn" name="act" type="submit" value="整型测试" /></td>
            <td>未测试<br /><input class="btn" name="act" type="submit" value="浮点测试" /></td>
            <td>0.009秒<br /><input class="btn" name="act" type="submit" value="IO测试" /></td>
            <td></td>
          </tr>
        </form>
        <input type="hidden" name="pInt" value="未测试" />
        <input type="hidden" name="pFloat" value="未测试" />
        <input type="hidden" name="pIo" value="0.009秒" />

        <a name="w_networkspeed"></a>
        <!--网络速度测试-->
        <table>
          <tr><th colspan="3">网络速度测试</th></tr>
          <tr>
            <td style="width: 19%" style="align: center"
              ><input name="act" type="submit" class="btn" value="开始测试" />
              <br />
              向客户端传送1000k字节数据<br />
              带宽比例按理想值计算
            </td>
            <td style="width: 81%" style="align: center">
              <table style="align: center" style="width:550px" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="width:50px">带宽</td>
                  <td style="width:50px">1M</td>
                  <td style="width:50px">2M</td>
                  <td style="width:50px">3M</td>
                  <td style="width:50px">4M</td>
                  <td style="width:50px">5M</td>
                  <td style="width:50px">6M</td>
                  <td style="width:50px">7M</td>
                  <td style="width:50px">8M</td>
                  <td style="width:50px">9M</td>
                  <td style="width:50px">10M</td>
                </tr>
                <tr>
                  <td colspan="11" class="suduk"
                    ><table
                      style="align: center"
                      style="width:550px"
                      border="0"
                      cellspacing="0"
                      cellpadding="0"
                      class="suduk"
                    >
                      <tr>
                        <td class="sudu" style="width:0"></td>
                        <td class="suduk" style="width:550px"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <font color="#cc0000">&nbsp;未探测&nbsp;</font>
            </td>
          </tr>
        </table>

        <a name="w_MySQL"></a>
        <!--MySQL数据库连接检测-->
        <table>
          <tr><th colspan="3">MySQL数据库连接检测</th></tr>
          <tr>
            <td style="width: 15%"></td>
            <td style="width: 60%">
              地址：<input type="text" name="host" value="localhost" size="10" />
              端口：<input type="text" name="port" value="3306" size="10" />
              用户名：<input type="text" name="login" size="10" />
              密码：<input type="password" name="password" size="10" />
            </td>
            <td style="width: 25%">
              <input class="btn" type="submit" name="act" value="MySQL检测" />
            </td>
          </tr>
        </table>
        <a name="w_function"></a>
        <!--函数检测-->
        <table>
          <tr><th colspan="3">函数检测</th></tr>
          <tr>
            <td style="width: 15%"></td>
            <td style="width: 60%">
              请输入您要检测的函数：
              <input type="text" name="funName" size="50" />
            </td>
            <td style="width: 25%">
              <input class="btn" type="submit" name="act" style="align: right" value="函数检测" />
            </td>
          </tr>
        </table>

        <a name="w_mail"></a>
        <table>
          <tr><th colspan="3">邮件发送检测</th></tr>
          <tr>
            <td style="width: 15%"></td>
            <td style="width: 60%">
              请输入您要检测的邮件地址：
              <input type="text" name="mailAdd" size="50" />
            </td>
            <td style="width: 25%">
              <input class="btn" type="submit" name="act" value="邮件检测" />
            </td>
          </tr>
        </table>
      </table>
      <table>
        <tr>
          <td class="w_foot"><a href="http://www.Yahei.Net" target="_blank">雅黑PHP探针[简体版]v0.4.7</a></td>
          <td class="w_foot">Processed in 1.0114 seconds. 0.41MB memory usage.</td>
          <td class="w_foot"><a href="#w_top">返回顶部</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>

<style type="text/css">
  * {
    font-family: 'Microsoft Yahei', Tahoma, Arial;
  }
  body {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #fafafa;
    font-size: 12px;
    font-family: Tahoma, Arial;
  }
  h1 {
    font-size: 26px;
    padding: 0;
    margin: 0;
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  }
  h1 small {
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
  }
  a {
    color: #666;
    text-decoration: none;
  }
  a.black {
    color: #000000;
    text-decoration: none;
  }
  table {
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0 0 10px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#CCCCCC')";
  }
  th {
    padding: 3px 6px;
    font-weight: bold;
    background: #dedede;
    color: #626262;
    border: 1px solid #cccccc;
    text-align: left;
  }
  tr {
    padding: 0;
    background: #ffffff;
  }
  td {
    padding: 3px 6px;
    border: 1px solid #cccccc;
  }
  .w_logo {
    height: 25px;
    text-align: center;
    color: #333;
    font-size: 15px;
    width: 13%;
  }
  .w_top {
    height: 25px;
    text-align: center;
    width: 8.7%;
  }
  .w_top:hover {
    background: #dadada;
  }
  .w_foot {
    height: 25px;
    text-align: center;
    background: #dedede;
  }
  input {
    padding: 2px;
    background: #ffffff;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 12px;
  }
  input.btn {
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    color: #666666;
    background: #f2f2f2;
    border: 1px solid #999;
    font-size: 12px;
  }
  .bar {
    border: 1px solid #999999;
    background: #ffffff;
    height: 5px;
    font-size: 2px;
    width: 89%;
    margin: 2px 0 5px 0;
    padding: 1px;
    overflow: hidden;
  }
  .bar_1 {
    border: 1px dotted #999999;
    background: #ffffff;
    height: 5px;
    font-size: 2px;
    width: 89%;
    margin: 2px 0 5px 0;
    padding: 1px;
    overflow: hidden;
  }
  .barli_red {
    background: #ff6600;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  .barli_blue {
    background: #0099ff;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  .barli_green {
    background: #36b52a;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  .barli_black {
    background: #333;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  .barli_1 {
    background: #999999;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  .barli {
    background: #36b52a;
    height: 5px;
    margin: 0px;
    padding: 0;
  }
  #page {
    width: 960px;
    padding: 0 auto;
    margin: 0 auto;
    text-align: left;
  }
  #header {
    position: relative;
    padding: 5px;
  }
  .w_small {
    font-family: Courier New;
  }
  .w_number {
    color: #f800fe;
  }
  .sudu {
    padding: 0;
    background: #5dafd1;
  }
  .suduk {
    margin: 0px;
    padding: 0;
  }
  .resYes {
  }
  .resNo {
    color: #ff0000;
  }
  .word {
    word-break: break-all;
  }
</style>
