---
import options from '@/options';
import { DateTime } from 'luxon';
import sharp from 'sharp';

const loadCalendarImage = async (): Promise<string> => {
  const now = DateTime.now().setZone(options.settings.timeZone);
  const link = `https://img.owspace.com/Public/uploads/Download/${now.year}/${now.toFormat('LLdd')}.jpg`;
  const response = await fetch(link, {
    referrer: '',
  });

  if (!response.ok) {
    console.error(`Failed to fetch image ${link}`);
    return '';
  }

  const encodedImage = (
    await sharp(await response.arrayBuffer())
      .extract({ width: 1096, height: 1550, left: 90, top: 110 })
      .toBuffer()
  ).toString('base64');
  return `data:image/jpeg;base64,${encodedImage}`;
};

const calendarImage = !options.settings.sidebar.calendar ? '' : await loadCalendarImage();
---

{
  calendarImage !== '' && (
    <div class="widget widget-owspace-calendar">
      <div class="widget-title">单向历</div>
      <img src={calendarImage} />
    </div>
  )
}
