---
import { DateTime } from 'luxon'
import config from '@/blog.config'
import { urlJoin } from '@/helpers/tools'

async function loadCalendarImage(): Promise<string> {
  const now = DateTime.now().setZone(config.settings.timeZone).setLocale(config.settings.locale)
  return urlJoin(import.meta.env.SITE, 'images/calendar', `${now.year}`, `${now.toFormat('LLdd')}.jpg`)
}

const calendarImage = !config.settings.sidebar.calendar ? '' : await loadCalendarImage()
---

{
  calendarImage !== '' && (
    <div class="widget widget-owspace-calendar">
      <div class="widget-title">单向历</div>
      <img loading="lazy" src={calendarImage} />
    </div>
  )
}
