---
import type { Post } from '@/services/catalog/schema'
import config from '@/blog.config'
import { sampleSize } from '@/shared/tools'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props
const randomSize = config.settings.sidebar.post
---

{
  randomSize > 0 && (
    <div id="recent-posts" class="widget widget-recent-entries">
      <div class="widget-title" data-tippy-content="年年岁岁花相似，岁岁年年人不同。">
        流年拾忆
      </div>
      <ul class="line">
        {sampleSize(posts, randomSize).map((post) => (
          <li>
            <a href={post.permalink} title={post.title}>
              {post.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  )
}
