---
import type { Friend } from '@/content/schema';

interface Props extends Friend {}

const { website, description, homepage, poster, favicon } = Astro.props;
---

<div class="col-12 col-md-4">
  <div class="list-item block">
    <div class="media media-3x1">
      <div
        class="media-content"
        style={{
          backgroundImage: `url('${poster}')`,
          backgroundSize: 'cover',
        }}
      >
      </div>
    </div>
    <div class="list-content">
      <div class="list-body">
        <div class="list-title h6 h-1x">
          {website}
          <div
            class="list-favicon"
            style={{
              backgroundImage: `url('${favicon}')`,
            }}
          >
          </div>
        </div>
        <div class="text-sm text-secondary h-2x mt-1">{description ? description : ' '}</div>
      </div>
    </div>
    <a href={homepage} target="_blank" class="list-gogogo"></a>
  </div>
</div>
