---
// TODO
---

<div class="global-search btn btn-dark btn-icon btn-circle site-search-toggler button-social">
  <span>
    <i class="iconfont icon-search"></i>
  </span>
</div>

<div class="global-search-popup nice-popup nice-popup-center nice-popup-md">
  <div class="nice-popup-overlay"></div>
  <div class="nice-popup-body">
    <div class="global-search-close nice-popup-close">
      <span class="svg-white"></span>
      <span class="svg-dark"></span>
    </div>
    <div class="nice-popup-content">
      <form class="text-center p-3 p-md-5" action={'/search'}>
        <div class="mb-3 mb-md-4">
          <input
            class="form-control form-control-lg text-center"
            type="text"
            name="q"
            placeholder="搜索并回车"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">搜索</button>
      </form>
    </div>
  </div>
</div>

<script is:inline>
  const searchPopup = document.querySelector('.global-search-popup');
  document.querySelector('.global-search').addEventListener('click', (event) => {
    event.stopPropagation();
    searchPopup.classList.toggle('nice-popup-open', true);
  });

  document.querySelector('.global-search-close').addEventListener('click', (event) => {
    event.stopPropagation();
    searchPopup.classList.toggle('nice-popup-open', false);
  });
</script>
