---
import config from '@/blog.config'
---

<div id="search" class="widget widget-search" hidden={!config.settings.sidebar.search}>
  <div class="search-form">
    <label>
      <span class="screen-reader-text">文章寻踪</span>
      <input type="search" class="search-field search-sidebar" placeholder="文章寻踪（输入后回车）" name="q" />
    </label>
  </div>
</div>
