---
import { options } from '@/content/schema';
---

<div id="search" class="widget widget_search" hidden={!options.settings.sidebar.search}>
  <div class="search-form">
    <label>
      <span class="screen-reader-text">搜索：</span>
      <input type="search" class="search-field search-sidebar" placeholder="输入然后回车…" name="q" />
    </label>
  </div>
</div>

<script is:inline>
  document.querySelector('.search-sidebar').addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
      event.preventDefault();
      event.stopPropagation();

      const query = event.target.value;
      event.target.value = '';
      location.href = '/search?q=' + encodeURIComponent(query);
    }
  });
</script>
