---
import { formatLocalDate } from '@/helpers/formatter';

interface Props {
  updated: string;
}

const { updated } = Astro.props;

const updateTime = formatLocalDate(new Date(updated), 'yyyy-MM-dd HH:mm');
---

<div class="card card-md card-notice">
  <div class="card-header">
    <p>文章时效性注意</p>
  </div>
  <div class="card-body">
    <p>
      此文最后一次修改于 <strong>{updateTime}</strong
      >，这与你阅读此文的时间可能有较大偏差。因为此类文章都有一定的的时效性，故在此只保证写此文时内容的正确性。如果您发现因为时间变化导致的偏差，欢迎在文章底部留言说明。
    </p>
  </div>
</div>
