/*--------------------------------------------------------------
    widget style
--------------------------------------------------------------*/

.sidebar-inner {
  padding: 2rem 1.75rem;
  background-color: var(--bg-white);
}

@media (min-width: 1200px) {
  .sidebar-inner {
    position: sticky;
    top: 30px;
  }
}

.widget {
  margin-bottom: 2.5rem;
}

.widget-title {
  color: #008c95;
  font-size: 1rem;
  padding: 1.25rem 0;
  position: relative;
  border-top: 2px solid #d2e3e4;
}

.widget-title span {
  position: relative;
}

.widget-title:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #008c95;
}

/*--------------------------------------------------------------
    search style
--------------------------------------------------------------*/

.widget-search label {
  display: block;
}

.widget-search .search-field {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: var(--radius-sm);
  background-color: var(--bg-light);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition:
    background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition:
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.widget-search .search-field:hover,
.widget-search .search-field:focus {
  border-color: var(--border-muted);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.widget-search .screen-reader-text,
.widget-search .search-submit {
  display: none;
}

.search-dialog .form-control:focus {
  border-color: var(--border-muted);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

/*--------------------------------------------------------------
    widget-recent-comments style
    widget-recent-entries  style
--------------------------------------------------------------*/

.widget-recent-entries ul,
.widget-recent-comments ul {
  padding-left: 1.25rem;
}

.widget-recent-entries ul li,
.widget-recent-comments ul li {
  margin-bottom: 0.75rem;
  list-style-type: circle;
  font-size: inherit;
  overflow: hidden;
  white-space: nowrap;
}

.widget-recent-entries ul li a {
  display: block;
}

.widget-recent-entries ul li span {
  color: var(--color-muted);
  font-size: inherit;
}

.widget-recent-comments ul li span {
  font-weight: 600;
  color: var(--color-dark);
  margin-right: 5px;
}

/*--------------------------------------------------------------
    tagcloud style
--------------------------------------------------------------*/

.tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tagcloud a {
  position: relative;
  display: inline-block;
  font-size: 0.875rem !important;
  line-height: 1;
  padding: 0.5rem 0.9375rem;
  margin: 0 0.375rem 0.375rem 0;
  border-radius: var(--radius-xs);
  border: 1px solid var(--border-light);
}

.tags a:before,
.tagcloud > a:before {
  content: '#';
  font-size: inherit;
  display: inline-block;
  color: var(--color-primary);
  margin-right: 5px;
}

/*--------------------------------------------------------------
    widget-recent-comments style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    Pagination
--------------------------------------------------------------*/

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}

.pagination {
  position: relative;
  margin: 2.5rem 0 0;
}

.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.page-numbers {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0.25rem;
  background-color: transparent;
  color: var(--color-muted);
}

.page-numbers:hover,
.page-numbers.current {
  color: #fff;
  background-color: var(--btn-primary);
}

@media (max-width: 767.98px) {
  .pagination {
    margin: 1.25rem 0 0;
  }

  .page-numbers {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    font-size: 0.75rem;
    text-align: center;
    line-height: 30px;
    margin: 0.25rem;
    background-color: transparent;
    color: var(--color-muted);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pagination {
    margin: 2rem 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pagination {
    margin: 2rem 0 0;
  }
}

/*--------------------------------------------------------------
    Like style in blog post
--------------------------------------------------------------*/

.list-like {
  margin-left: 10px;
  color: var(--color-dark);
  background-color: transparent;
}

.list-like-square {
  margin-left: 10px;
  background-color: transparent;
}

.list-like .like-count,
.list-like-square .like-count {
  padding-left: 0.35rem;
}

/*--------------------------------------------------------------
    fixed widget style
--------------------------------------------------------------*/

.site-fixed-widget {
  position: fixed;
  right: 20px;
  display: block;
  bottom: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
}

.site-fixed-widget li {
  margin: 0 0 1rem;
}

.site-fixed-widget li .menu-toggler .icon-menu-outline {
  display: block;
}

.site-fixed-widget li .menu-toggler .icon-close-outline {
  display: none;
}

.site-fixed-widget li .menu-toggler.active .icon-menu-outline {
  display: none;
}

.site-fixed-widget li .menu-toggler.active {
  color: #fff;
  background-color: #283149;
  border-color: #283149;
}

.site-fixed-widget li .menu-toggler.active .icon-close-outline {
  display: block;
}

.site-fixed-widget li.fixed-gotop {
  margin: 0;
}

.site-fixed-widget li.fixed-gotop {
  display: none;
}

.site-fixed-widget li.fixed-gotop.current {
  display: block;
}

@media (min-width: 992px) {
  .site-fixed-widget li.fixed-menu {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .site-fixed-widget li.fixed-menu {
    display: none;
  }
}
