body.admin.single {
  background-color: var(--bg-light);
}

.desktop-brand {
  position: absolute;
  left: 40px;
  top: 40px;
}

.desktop-brand img {
  height: 100px;
}

@media (max-width: 991.98px) {
  .desktop-brand {
    display: none;
  }
}

.single-full {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
}
