@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot?zflxep');
  src:
    url('../fonts/iconfont/iconfont.eot?zflxep#iefix') format('embedded-opentype'),
    url('../fonts/iconfont/iconfont.ttf?zflxep') format('truetype'),
    url('../fonts/iconfont/iconfont.woff?zflxep') format('woff'),
    url('../fonts/iconfont/iconfont.svg?zflxep#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont,
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-follow-rss:before {
  content: '\ea08';
}
.icon-github-fill:before {
  content: '\eb67';
}
.icon-accountbook-fill:before {
  content: '\e900';
}
.icon-accountbook:before {
  content: '\e901';
}
.icon-addteam:before {
  content: '\e902';
}
.icon-adduser:before {
  content: '\e903';
}
.icon-aim:before {
  content: '\e904';
}
.icon-alert-fill:before {
  content: '\e905';
}
.icon-alert:before {
  content: '\e906';
}
.icon-alibaba:before {
  content: '\e907';
}
.icon-alibabacloud:before {
  content: '\e908';
}
.icon-align-center:before {
  content: '\e909';
}
.icon-align-left:before {
  content: '\e90a';
}
.icon-align-right:before {
  content: '\e90b';
}
.icon-alipay-circle-fill:before {
  content: '\e90c';
}
.icon-alipay-square-fill:before {
  content: '\e90d';
}
.icon-alipay:before {
  content: '\e90e';
}
.icon-aliwangwang-fill:before {
  content: '\e90f';
}
.icon-aliwangwang:before {
  content: '\e910';
}
.icon-amazon-circle-fill:before {
  content: '\e911';
}
.icon-amazon-square-fill:before {
  content: '\e912';
}
.icon-amazon:before {
  content: '\e913';
}
.icon-android-fill:before {
  content: '\e914';
}
.icon-android:before {
  content: '\e915';
}
.icon-ant-cloud:before {
  content: '\e916';
}
.icon-antdesign:before {
  content: '\e917';
}
.icon-apartment:before {
  content: '\e918';
}
.icon-api-fill:before {
  content: '\e919';
}
.icon-api:before {
  content: '\e91a';
}
.icon-apple-fill:before {
  content: '\e91b';
}
.icon-apple:before {
  content: '\e91c';
}
.icon-appstore-fill:before {
  content: '\e91d';
}
.icon-appstore:before {
  content: '\e91e';
}
.icon-appstoreadd:before {
  content: '\e91f';
}
.icon-areachart:before {
  content: '\e920';
}
.icon-arrawsalt:before {
  content: '\e921';
}
.icon-arrowdown:before {
  content: '\e922';
}
.icon-arrowleft:before {
  content: '\e923';
}
.icon-arrowright:before {
  content: '\e924';
}
.icon-arrowup:before {
  content: '\e925';
}
.icon-attachment:before {
  content: '\e926';
}
.icon-audio-fill:before {
  content: '\e927';
}
.icon-audio:before {
  content: '\e928';
}
.icon-audiostatic:before {
  content: '\e929';
}
.icon-audit:before {
  content: '\e92a';
}
.icon-backward:before {
  content: '\e92b';
}
.icon-bank-fill:before {
  content: '\e92c';
}
.icon-bank:before {
  content: '\e92d';
}
.icon-barchart:before {
  content: '\e92e';
}
.icon-barcode:before {
  content: '\e92f';
}
.icon-batchfolding-fill:before {
  content: '\e930';
}
.icon-Batchfolding:before {
  content: '\e931';
}
.icon-behance-circle-fill:before {
  content: '\e932';
}
.icon-behance-square-fill:before {
  content: '\e933';
}
.icon-behance:before {
  content: '\e934';
}
.icon-bell-fill:before {
  content: '\e935';
}
.icon-bell:before {
  content: '\e936';
}
.icon-bg-colors:before {
  content: '\e937';
}
.icon-block:before {
  content: '\e938';
}
.icon-bold:before {
  content: '\e939';
}
.icon-book-fill:before {
  content: '\e93a';
}
.icon-book:before {
  content: '\e93b';
}
.icon-border-bottom:before {
  content: '\e93c';
}
.icon-border-horizontal:before {
  content: '\e93d';
}
.icon-border-inner:before {
  content: '\e93e';
}
.icon-border-left:before {
  content: '\e93f';
}
.icon-border-outer:before {
  content: '\e940';
}
.icon-border-right:before {
  content: '\e941';
}
.icon-border-top:before {
  content: '\e942';
}
.icon-border-verticle:before {
  content: '\e943';
}
.icon-border:before {
  content: '\e944';
}
.icon-boxplot-fill:before {
  content: '\e945';
}
.icon-boxplot:before {
  content: '\e946';
}
.icon-branches:before {
  content: '\e947';
}
.icon-bug-fill:before {
  content: '\e948';
}
.icon-bug:before {
  content: '\e949';
}
.icon-build-fill:before {
  content: '\e94a';
}
.icon-build:before {
  content: '\e94b';
}
.icon-bulb-fill:before {
  content: '\e94c';
}
.icon-bulb:before {
  content: '\e94d';
}
.icon-calculator-fill:before {
  content: '\e94e';
}
.icon-calculator:before {
  content: '\e94f';
}
.icon-calendar-check-fill:before {
  content: '\e950';
}
.icon-calendar-check:before {
  content: '\e951';
}
.icon-calendar-fill:before {
  content: '\e952';
}
.icon-calendar:before {
  content: '\e953';
}
.icon-camera-fill:before {
  content: '\e954';
}
.icon-camera:before {
  content: '\e955';
}
.icon-car-fill:before {
  content: '\e956';
}
.icon-car:before {
  content: '\e957';
}
.icon-caret-down:before {
  content: '\e958';
}
.icon-caret-down1:before {
  content: '\e959';
}
.icon-caret-left:before {
  content: '\e95a';
}
.icon-caret-right:before {
  content: '\e95b';
}
.icon-caret-up:before {
  content: '\e95c';
}
.icon-caret-up1:before {
  content: '\e95d';
}
.icon-carryout-fill:before {
  content: '\e95e';
}
.icon-carryout:before {
  content: '\e95f';
}
.icon-check-circle-fill:before {
  content: '\e960';
}
.icon-check-circle:before {
  content: '\e961';
}
.icon-check-square-fill:before {
  content: '\e962';
}
.icon-check-square:before {
  content: '\e963';
}
.icon-check:before {
  content: '\e964';
}
.icon-chrome-fill:before {
  content: '\e965';
}
.icon-chrome:before {
  content: '\e966';
}
.icon-CI-circle-fill:before {
  content: '\e967';
}
.icon-CI:before {
  content: '\e968';
}
.icon-clear:before {
  content: '\e969';
}
.icon-close-circle-fill:before {
  content: '\e96a';
}
.icon-close-circle:before {
  content: '\e96b';
}
.icon-close-square-fill:before {
  content: '\e96c';
}
.icon-close-square:before {
  content: '\e96d';
}
.icon-close:before {
  content: '\e96e';
}
.icon-cloud-download:before {
  content: '\e96f';
}
.icon-cloud-fill:before {
  content: '\e970';
}
.icon-cloud-server:before {
  content: '\e971';
}
.icon-cloud-sync:before {
  content: '\e972';
}
.icon-cloud-upload:before {
  content: '\e973';
}
.icon-cloud:before {
  content: '\e974';
}
.icon-cluster:before {
  content: '\e975';
}
.icon-code:before {
  content: '\e976';
}
.icon-codelibrary-fill:before {
  content: '\e977';
}
.icon-codelibrary:before {
  content: '\e978';
}
.icon-codepen-circle-fill:before {
  content: '\e979';
}
.icon-codepen-square-fill:before {
  content: '\e97a';
}
.icon-codepen:before {
  content: '\e97b';
}
.icon-CodeSandbox-circle-f:before {
  content: '\e97c';
}
.icon-CodeSandbox-square-f:before {
  content: '\e97d';
}
.icon-CodeSandbox:before {
  content: '\e97e';
}
.icon-collapse:before {
  content: '\e97f';
}
.icon-colum-height:before {
  content: '\e980';
}
.icon-column-width:before {
  content: '\e981';
}
.icon-comment:before {
  content: '\e982';
}
.icon-compass-fill:before {
  content: '\e983';
}
.icon-compass:before {
  content: '\e984';
}
.icon-compress:before {
  content: '\e985';
}
.icon-Console-SQL:before {
  content: '\e986';
}
.icon-contacts-fill:before {
  content: '\e987';
}
.icon-contacts:before {
  content: '\e988';
}
.icon-container-fill:before {
  content: '\e989';
}
.icon-container:before {
  content: '\e98a';
}
.icon-control-fill:before {
  content: '\e98b';
}
.icon-control:before {
  content: '\e98c';
}
.icon-copyright-circle-fil:before {
  content: '\e98d';
}
.icon-copyright:before {
  content: '\e98e';
}
.icon-creditcard-fill:before {
  content: '\e98f';
}
.icon-creditcard:before {
  content: '\e990';
}
.icon-crown-fill:before {
  content: '\e991';
}
.icon-crown:before {
  content: '\e992';
}
.icon-customerservice-fill:before {
  content: '\e993';
}
.icon-customerservice:before {
  content: '\e994';
}
.icon-dash:before {
  content: '\e995';
}
.icon-dashboard-fill:before {
  content: '\e996';
}
.icon-dashboard:before {
  content: '\e997';
}
.icon-database-fill:before {
  content: '\e998';
}
.icon-database:before {
  content: '\e999';
}
.icon-delete-fill:before {
  content: '\e99a';
}
.icon-delete:before {
  content: '\e99b';
}
.icon-deletecolumn:before {
  content: '\e99c';
}
.icon-deleterow:before {
  content: '\e99d';
}
.icon-deleteteam:before {
  content: '\e99e';
}
.icon-deleteuser:before {
  content: '\e99f';
}
.icon-deploymentunit:before {
  content: '\e9a0';
}
.icon-desktop:before {
  content: '\e9a1';
}
.icon-detail-fill:before {
  content: '\e9a2';
}
.icon-detail:before {
  content: '\e9a3';
}
.icon-diff-fill:before {
  content: '\e9a4';
}
.icon-diff:before {
  content: '\e9a5';
}
.icon-dingtalk-circle-fill:before {
  content: '\e9a6';
}
.icon-dingtalk-square-fill:before {
  content: '\e9a7';
}
.icon-dingtalk:before {
  content: '\e9a8';
}
.icon-disconnect:before {
  content: '\e9a9';
}
.icon-Dollar-circle-fill:before {
  content: '\e9aa';
}
.icon-Dollar:before {
  content: '\e9ab';
}
.icon-dot:before {
  content: '\e9ac';
}
.icon-doubleleft:before {
  content: '\e9ad';
}
.icon-doubleright:before {
  content: '\e9ae';
}
.icon-down-circle-fill:before {
  content: '\e9af';
}
.icon-down-circle:before {
  content: '\e9b0';
}
.icon-down-square-fill:before {
  content: '\e9b1';
}
.icon-down-square:before {
  content: '\e9b2';
}
.icon-down:before {
  content: '\e9b3';
}
.icon-download:before {
  content: '\e9b4';
}
.icon-drag:before {
  content: '\e9b5';
}
.icon-dribbble-circle-fill:before {
  content: '\e9b6';
}
.icon-dribbble-square-fill:before {
  content: '\e9b7';
}
.icon-dribbble:before {
  content: '\e9b8';
}
.icon-dropbox-circle-fill:before {
  content: '\e9b9';
}
.icon-dropbox-square-fill:before {
  content: '\e9ba';
}
.icon-dropbox:before {
  content: '\e9bb';
}
.icon-earth:before {
  content: '\e9bc';
}
.icon-edit-fill:before {
  content: '\e9bd';
}
.icon-edit-square:before {
  content: '\e9be';
}
.icon-edit:before {
  content: '\e9bf';
}
.icon-ellipsis:before {
  content: '\e9c0';
}
.icon-ellipsis1:before {
  content: '\e9c1';
}
.icon-enter:before {
  content: '\e9c2';
}
.icon-error-fill:before {
  content: '\e9c3';
}
.icon-error:before {
  content: '\e9c4';
}
.icon-EURO-circle-fill:before {
  content: '\e9c5';
}
.icon-EURO:before {
  content: '\e9c6';
}
.icon-exclaimination:before {
  content: '\e9c7';
}
.icon-expand:before {
  content: '\e9c8';
}
.icon-expend:before {
  content: '\e9c9';
}
.icon-experiment-fill:before {
  content: '\e9ca';
}
.icon-experiment:before {
  content: '\e9cb';
}
.icon-export:before {
  content: '\e9cc';
}
.icon-eye-close:before {
  content: '\e9cd';
}
.icon-eye-fill:before {
  content: '\e9ce';
}
.icon-eye:before {
  content: '\e9cf';
}
.icon-eyeclose-fill:before {
  content: '\e9d0';
}
.icon-facebook-fill:before {
  content: '\e9d1';
}
.icon-facebook:before {
  content: '\e9d2';
}
.icon-facebook1:before {
  content: '\e9d3';
}
.icon-fall:before {
  content: '\e9d4';
}
.icon-fast-backward:before {
  content: '\e9d5';
}
.icon-fast-forward:before {
  content: '\e9d6';
}
.icon-Field-Binary:before {
  content: '\e9d7';
}
.icon-Field-number:before {
  content: '\e9d8';
}
.icon-Field-String:before {
  content: '\e9d9';
}
.icon-Field-time:before {
  content: '\e9da';
}
.icon-file-add-fill:before {
  content: '\e9db';
}
.icon-file-add:before {
  content: '\e9dc';
}
.icon-file-copy-fill:before {
  content: '\e9dd';
}
.icon-file-copy:before {
  content: '\e9de';
}
.icon-file-excel-fill:before {
  content: '\e9df';
}
.icon-file-excel:before {
  content: '\e9e0';
}
.icon-file-exception:before {
  content: '\e9e1';
}
.icon-file-exclamation-fil:before {
  content: '\e9e2';
}
.icon-file-exclamation:before {
  content: '\e9e3';
}
.icon-file-fill:before {
  content: '\e9e4';
}
.icon-file-GIF:before {
  content: '\e9e5';
}
.icon-file-image-fill:before {
  content: '\e9e6';
}
.icon-file-image:before {
  content: '\e9e7';
}
.icon-file-markdown-fill:before {
  content: '\e9e8';
}
.icon-file-markdown:before {
  content: '\e9e9';
}
.icon-file-pdf-fill:before {
  content: '\e9ea';
}
.icon-file-pdf:before {
  content: '\e9eb';
}
.icon-file-ppt-fill:before {
  content: '\e9ec';
}
.icon-file-ppt:before {
  content: '\e9ed';
}
.icon-file-text-fill:before {
  content: '\e9ee';
}
.icon-file-text:before {
  content: '\e9ef';
}
.icon-file-unknown-fill:before {
  content: '\e9f0';
}
.icon-file-unknown:before {
  content: '\e9f1';
}
.icon-file-word-fill:before {
  content: '\e9f2';
}
.icon-file-word:before {
  content: '\e9f3';
}
.icon-file-zip-fill:before {
  content: '\e9f4';
}
.icon-file-zip:before {
  content: '\e9f5';
}
.icon-file:before {
  content: '\e9f6';
}
.icon-filedone:before {
  content: '\e9f7';
}
.icon-fileprotect:before {
  content: '\e9f8';
}
.icon-filesearch:before {
  content: '\e9f9';
}
.icon-filesync:before {
  content: '\e9fa';
}
.icon-filter-fill:before {
  content: '\e9fb';
}
.icon-filter:before {
  content: '\e9fc';
}
.icon-fire-fill:before {
  content: '\e9fd';
}
.icon-fire:before {
  content: '\e9fe';
}
.icon-flag-fill:before {
  content: '\e9ff';
}
.icon-flag:before {
  content: '\ea00';
}
.icon-folder-add-fill:before {
  content: '\ea01';
}
.icon-folder-add:before {
  content: '\ea02';
}
.icon-folder-fill:before {
  content: '\ea03';
}
.icon-folder-open-fill:before {
  content: '\ea04';
}
.icon-folder-open:before {
  content: '\ea05';
}
.icon-folder-view:before {
  content: '\ea06';
}
.icon-folder:before {
  content: '\ea07';
}
.icon-font-colors:before {
  content: '\ea09';
}
.icon-font-size:before {
  content: '\ea0a';
}
.icon-fork:before {
  content: '\ea0b';
}
.icon-formatpainter-fill:before {
  content: '\ea0c';
}
.icon-formatpainter:before {
  content: '\ea0d';
}
.icon-forward:before {
  content: '\ea0e';
}
.icon-frown-fill:before {
  content: '\ea0f';
}
.icon-frown:before {
  content: '\ea10';
}
.icon-fullscreen-exit:before {
  content: '\ea11';
}
.icon-fullscreen:before {
  content: '\ea12';
}
.icon-Function:before {
  content: '\ea13';
}
.icon-fund-fill:before {
  content: '\ea14';
}
.icon-fund:before {
  content: '\ea15';
}
.icon-funnelplot-fill:before {
  content: '\ea16';
}
.icon-funnelplot:before {
  content: '\ea17';
}
.icon-gateway:before {
  content: '\ea18';
}
.icon-GIF:before {
  content: '\ea19';
}
.icon-gift-fill:before {
  content: '\ea1a';
}
.icon-gift:before {
  content: '\ea1b';
}
.icon-Gitlab-fill:before {
  content: '\ea1c';
}
.icon-Gitlab:before {
  content: '\ea1d';
}
.icon-gold:before {
  content: '\ea1e';
}
.icon-golden-fill:before {
  content: '\ea1f';
}
.icon-google-circle-fill:before {
  content: '\ea20';
}
.icon-google-fill:before {
  content: '\ea21';
}
.icon-google-square-fill:before {
  content: '\ea22';
}
.icon-google:before {
  content: '\ea23';
}
.icon-googleplus-circle-f:before {
  content: '\ea24';
}
.icon-googleplus-square-f:before {
  content: '\ea25';
}
.icon-googleplus:before {
  content: '\ea26';
}
.icon-group:before {
  content: '\ea27';
}
.icon-heart-fill:before {
  content: '\ea28';
}
.icon-heart:before {
  content: '\ea29';
}
.icon-heatmap:before {
  content: '\ea2a';
}
.icon-highlight-fill:before {
  content: '\ea2b';
}
.icon-highlight:before {
  content: '\ea2c';
}
.icon-home-fill:before {
  content: '\ea2d';
}
.icon-home:before {
  content: '\ea2e';
}
.icon-hourglass-fill:before {
  content: '\ea2f';
}
.icon-hourglass:before {
  content: '\ea30';
}
.icon-HTML-fill:before {
  content: '\ea31';
}
.icon-HTML:before {
  content: '\ea32';
}
.icon-icon-test:before {
  content: '\ea33';
}
.icon-idcard-fill:before {
  content: '\ea34';
}
.icon-idcard:before {
  content: '\ea35';
}
.icon-IE-circle-fill:before {
  content: '\ea36';
}
.icon-IE-square-fill:before {
  content: '\ea37';
}
.icon-IE:before {
  content: '\ea38';
}
.icon-image-fill:before {
  content: '\ea39';
}
.icon-image:before {
  content: '\ea3a';
}
.icon-Import:before {
  content: '\ea3b';
}
.icon-indent:before {
  content: '\ea3c';
}
.icon-index:before {
  content: '\ea3d';
}
.icon-info-circle-fill:before {
  content: '\ea3e';
}
.icon-info-circle:before {
  content: '\ea3f';
}
.icon-infomation:before {
  content: '\ea40';
}
.icon-insertrowabove:before {
  content: '\ea41';
}
.icon-insertrowbelow:before {
  content: '\ea42';
}
.icon-insertrowleft:before {
  content: '\ea43';
}
.icon-insertrowright:before {
  content: '\ea44';
}
.icon-instagram-fill:before {
  content: '\ea45';
}
.icon-instagram-fill1:before {
  content: '\ea46';
}
.icon-instagram:before {
  content: '\ea47';
}
.icon-insurance-fill:before {
  content: '\ea48';
}
.icon-insurance:before {
  content: '\ea49';
}
.icon-interation-fill:before {
  content: '\ea4a';
}
.icon-interation:before {
  content: '\ea4b';
}
.icon-issuesclose:before {
  content: '\ea4c';
}
.icon-italic:before {
  content: '\ea4d';
}
.icon-jiantou1:before {
  content: '\ea4e';
}
.icon-kefu:before {
  content: '\ea4f';
}
.icon-kefu1:before {
  content: '\ea50';
}
.icon-key:before {
  content: '\ea51';
}
.icon-laptop:before {
  content: '\ea52';
}
.icon-layout-fill:before {
  content: '\ea53';
}
.icon-layout:before {
  content: '\ea54';
}
.icon-left-circle-fill:before {
  content: '\ea55';
}
.icon-left-circle:before {
  content: '\ea56';
}
.icon-left-square-fill:before {
  content: '\ea57';
}
.icon-left-square:before {
  content: '\ea58';
}
.icon-left:before {
  content: '\ea59';
}
.icon-like-fill:before {
  content: '\ea5a';
}
.icon-like:before {
  content: '\ea5b';
}
.icon-line-height:before {
  content: '\ea5c';
}
.icon-line:before {
  content: '\ea5d';
}
.icon-linechart:before {
  content: '\ea5e';
}
.icon-link:before {
  content: '\ea5f';
}
.icon-linkedin-fill:before {
  content: '\ea60';
}
.icon-linkedin:before {
  content: '\ea61';
}
.icon-linkedin2:before {
  content: '\ea62';
}
.icon-location-fill:before {
  content: '\ea63';
}
.icon-location:before {
  content: '\ea64';
}
.icon-lock-fill:before {
  content: '\ea65';
}
.icon-lock:before {
  content: '\ea66';
}
.icon-login:before {
  content: '\ea67';
}
.icon-logout:before {
  content: '\ea68';
}
.icon-mail-fill:before {
  content: '\ea69';
}
.icon-mail:before {
  content: '\ea6a';
}
.icon-man:before {
  content: '\ea6b';
}
.icon-medicinebox-fill:before {
  content: '\ea6c';
}
.icon-medicinebox:before {
  content: '\ea6d';
}
.icon-medium-circle-fill:before {
  content: '\ea6e';
}
.icon-medium-square-fill:before {
  content: '\ea6f';
}
.icon-medium:before {
  content: '\ea70';
}
.icon-meh-fill:before {
  content: '\ea71';
}
.icon-meh:before {
  content: '\ea72';
}
.icon-menu:before {
  content: '\ea73';
}
.icon-merge-cells:before {
  content: '\ea74';
}
.icon-message-fill:before {
  content: '\ea75';
}
.icon-message:before {
  content: '\ea76';
}
.icon-minus-circle-fill:before {
  content: '\ea77';
}
.icon-minus-circle:before {
  content: '\ea78';
}
.icon-minus-square-fill:before {
  content: '\ea79';
}
.icon-minus-square:before {
  content: '\ea7a';
}
.icon-minus:before {
  content: '\ea7b';
}
.icon-mobile-fill:before {
  content: '\ea7c';
}
.icon-mobile:before {
  content: '\ea7d';
}
.icon-moneycollect-fill:before {
  content: '\ea7e';
}
.icon-moneycollect:before {
  content: '\ea7f';
}
.icon-monitor:before {
  content: '\ea80';
}
.icon-mr:before {
  content: '\ea81';
}
.icon-night-circle-fill:before {
  content: '\ea82';
}
.icon-night:before {
  content: '\ea83';
}
.icon-notification-fill:before {
  content: '\ea84';
}
.icon-notification:before {
  content: '\ea85';
}
.icon-number:before {
  content: '\ea86';
}
.icon-orderedlist:before {
  content: '\ea87';
}
.icon-outdent:before {
  content: '\ea88';
}
.icon-Partition:before {
  content: '\ea89';
}
.icon-pause:before {
  content: '\ea8a';
}
.icon-percentage:before {
  content: '\ea8b';
}
.icon-phone-fill:before {
  content: '\ea8c';
}
.icon-phone:before {
  content: '\ea8d';
}
.icon-pic-left:before {
  content: '\ea8e';
}
.icon-pic-right:before {
  content: '\ea8f';
}
.icon-piechart-circle-fil:before {
  content: '\ea90';
}
.icon-piechart:before {
  content: '\ea91';
}
.icon-play-circle-fill:before {
  content: '\ea92';
}
.icon-play-circle:before {
  content: '\ea93';
}
.icon-play-square-fill:before {
  content: '\ea94';
}
.icon-play-square:before {
  content: '\ea95';
}
.icon-play:before {
  content: '\ea96';
}
.icon-plus-circle-fill:before {
  content: '\ea97';
}
.icon-plus-circle:before {
  content: '\ea98';
}
.icon-plus-square-fill:before {
  content: '\ea99';
}
.icon-plus-square:before {
  content: '\ea9a';
}
.icon-plus:before {
  content: '\ea9b';
}
.icon-pointmap:before {
  content: '\ea9c';
}
.icon-Pound-circle-fill:before {
  content: '\ea9d';
}
.icon-Pound:before {
  content: '\ea9e';
}
.icon-poweroff-circle-fill:before {
  content: '\ea9f';
}
.icon-poweroff:before {
  content: '\eaa0';
}
.icon-printer-fill:before {
  content: '\eaa1';
}
.icon-printer:before {
  content: '\eaa2';
}
.icon-project-fill:before {
  content: '\eaa3';
}
.icon-project:before {
  content: '\eaa4';
}
.icon-propertysafety-fill:before {
  content: '\eaa5';
}
.icon-propertysafety:before {
  content: '\eaa6';
}
.icon-pushpin-fill:before {
  content: '\eaa7';
}
.icon-pushpin:before {
  content: '\eaa8';
}
.icon-QQ-circle-fill:before {
  content: '\eaa9';
}
.icon-QQ-square-fill:before {
  content: '\eaaa';
}
.icon-QQ:before {
  content: '\eaab';
}
.icon-qrcode:before {
  content: '\eaac';
}
.icon-question-circle-fill:before {
  content: '\eaad';
}
.icon-question-circle:before {
  content: '\eaae';
}
.icon-question:before {
  content: '\eaaf';
}
.icon-radarchart:before {
  content: '\eab0';
}
.icon-radius-bottomleft:before {
  content: '\eab1';
}
.icon-radius-bottomright:before {
  content: '\eab2';
}
.icon-radius-setting:before {
  content: '\eab3';
}
.icon-radius-upleft:before {
  content: '\eab4';
}
.icon-radius-upright:before {
  content: '\eab5';
}
.icon-read-fill:before {
  content: '\eab6';
}
.icon-read:before {
  content: '\eab7';
}
.icon-reconciliation-fill:before {
  content: '\eab8';
}
.icon-reconciliation:before {
  content: '\eab9';
}
.icon-reddit-circle-fill:before {
  content: '\eaba';
}
.icon-reddit-square-fill:before {
  content: '\eabb';
}
.icon-reddit:before {
  content: '\eabc';
}
.icon-redenvelope-fill:before {
  content: '\eabd';
}
.icon-redenvelope:before {
  content: '\eabe';
}
.icon-redo:before {
  content: '\eabf';
}
.icon-reload:before {
  content: '\eac0';
}
.icon-reloadtime:before {
  content: '\eac1';
}
.icon-Report:before {
  content: '\eac2';
}
.icon-rest-fill:before {
  content: '\eac3';
}
.icon-rest:before {
  content: '\eac4';
}
.icon-retweet:before {
  content: '\eac5';
}
.icon-right-circle-fill:before {
  content: '\eac6';
}
.icon-right-circle:before {
  content: '\eac7';
}
.icon-right-square-fill:before {
  content: '\eac8';
}
.icon-right-square:before {
  content: '\eac9';
}
.icon-right:before {
  content: '\eaca';
}
.icon-rise:before {
  content: '\eacb';
}
.icon-robot-fill:before {
  content: '\eacc';
}
.icon-robot:before {
  content: '\eacd';
}
.icon-rocket-fill:before {
  content: '\eace';
}
.icon-rocket:before {
  content: '\eacf';
}
.icon-rollback:before {
  content: '\ead0';
}
.icon-rotate-left:before {
  content: '\ead1';
}
.icon-rotate-right:before {
  content: '\ead2';
}
.icon-safetycertificate-f:before {
  content: '\ead3';
}
.icon-safetycertificate:before {
  content: '\ead4';
}
.icon-save-fill:before {
  content: '\ead5';
}
.icon-save:before {
  content: '\ead6';
}
.icon-scan:before {
  content: '\ead7';
}
.icon-scissor:before {
  content: '\ead8';
}
.icon-search:before {
  content: '\ead9';
}
.icon-securityscan-fill:before {
  content: '\eada';
}
.icon-securityscan:before {
  content: '\eadb';
}
.icon-select:before {
  content: '\eadc';
}
.icon-send:before {
  content: '\eadd';
}
.icon-setting-fill:before {
  content: '\eade';
}
.icon-setting:before {
  content: '\eadf';
}
.icon-sever-fill:before {
  content: '\eae0';
}
.icon-sever:before {
  content: '\eae1';
}
.icon-shake:before {
  content: '\eae2';
}
.icon-share-square:before {
  content: '\eae3';
}
.icon-share:before {
  content: '\eae4';
}
.icon-shop-fill:before {
  content: '\eae5';
}
.icon-shop:before {
  content: '\eae6';
}
.icon-shopping-fill:before {
  content: '\eae7';
}
.icon-shopping:before {
  content: '\eae8';
}
.icon-shortcut-fill:before {
  content: '\eae9';
}
.icon-shortcut:before {
  content: '\eaea';
}
.icon-shrink:before {
  content: '\eaeb';
}
.icon-signal-fill:before {
  content: '\eaec';
}
.icon-sisternode:before {
  content: '\eaed';
}
.icon-sketch-circle-fill:before {
  content: '\eaee';
}
.icon-sketch-square-fill:before {
  content: '\eaef';
}
.icon-sketch:before {
  content: '\eaf0';
}
.icon-skin-fill:before {
  content: '\eaf1';
}
.icon-skin:before {
  content: '\eaf2';
}
.icon-skype-fill:before {
  content: '\eaf3';
}
.icon-skype:before {
  content: '\eaf4';
}
.icon-slack-circle-fill:before {
  content: '\eaf5';
}
.icon-slack-square-fill:before {
  content: '\eaf6';
}
.icon-slack:before {
  content: '\eaf7';
}
.icon-sliders-fill:before {
  content: '\eaf8';
}
.icon-sliders:before {
  content: '\eaf9';
}
.icon-small-dash:before {
  content: '\eafa';
}
.icon-smile-fill:before {
  content: '\eafb';
}
.icon-smile:before {
  content: '\eafc';
}
.icon-snippets-fill:before {
  content: '\eafd';
}
.icon-snippets:before {
  content: '\eafe';
}
.icon-solit-cells:before {
  content: '\eaff';
}
.icon-solution:before {
  content: '\eb00';
}
.icon-sort-ascending:before {
  content: '\eb01';
}
.icon-sort-descending:before {
  content: '\eb02';
}
.icon-sound-fill:before {
  content: '\eb03';
}
.icon-sound:before {
  content: '\eb04';
}
.icon-star-fill:before {
  content: '\eb05';
}
.icon-star:before {
  content: '\eb06';
}
.icon-step-backward:before {
  content: '\eb07';
}
.icon-step-forward:before {
  content: '\eb08';
}
.icon-stock:before {
  content: '\eb09';
}
.icon-stop-fill:before {
  content: '\eb0a';
}
.icon-stop:before {
  content: '\eb0b';
}
.icon-Storedprocedure:before {
  content: '\eb0c';
}
.icon-strikethrough:before {
  content: '\eb0d';
}
.icon-subnode:before {
  content: '\eb0e';
}
.icon-swap-left:before {
  content: '\eb0f';
}
.icon-swap-right:before {
  content: '\eb10';
}
.icon-swap:before {
  content: '\eb11';
}
.icon-switchuser:before {
  content: '\eb12';
}
.icon-sync:before {
  content: '\eb13';
}
.icon-table:before {
  content: '\eb14';
}
.icon-table1:before {
  content: '\eb15';
}
.icon-tablet-fill:before {
  content: '\eb16';
}
.icon-tablet:before {
  content: '\eb17';
}
.icon-tag-fill:before {
  content: '\eb18';
}
.icon-tag:before {
  content: '\eb19';
}
.icon-tags-fill:before {
  content: '\eb1a';
}
.icon-tags:before {
  content: '\eb1b';
}
.icon-taobao-circle-fill:before {
  content: '\eb1c';
}
.icon-taobao-square-fill:before {
  content: '\eb1d';
}
.icon-taobao:before {
  content: '\eb1e';
}
.icon-team:before {
  content: '\eb1f';
}
.icon-thunderbolt-fill:before {
  content: '\eb20';
}
.icon-thunderbolt:before {
  content: '\eb21';
}
.icon-time-circle-fill:before {
  content: '\eb22';
}
.icon-time-circle:before {
  content: '\eb23';
}
.icon-timeout:before {
  content: '\eb24';
}
.icon-totop:before {
  content: '\eb25';
}
.icon-trademark-circle-fil:before {
  content: '\eb26';
}
.icon-trademark:before {
  content: '\eb27';
}
.icon-transaction:before {
  content: '\eb28';
}
.icon-translate:before {
  content: '\eb29';
}
.icon-trophy-fill:before {
  content: '\eb2a';
}
.icon-trophy:before {
  content: '\eb2b';
}
.icon-twitter-circle-fill:before {
  content: '\eb2c';
}
.icon-twitter-square-fill:before {
  content: '\eb2d';
}
.icon-twitter:before {
  content: '\eb2e';
}
.icon-underline:before {
  content: '\eb2f';
}
.icon-undo:before {
  content: '\eb30';
}
.icon-ungroup:before {
  content: '\eb31';
}
.icon-unlike-fill:before {
  content: '\eb32';
}
.icon-unlike:before {
  content: '\eb33';
}
.icon-unlock-fill:before {
  content: '\eb34';
}
.icon-unlock:before {
  content: '\eb35';
}
.icon-unorderedlist:before {
  content: '\eb36';
}
.icon-up-circle-fill:before {
  content: '\eb37';
}
.icon-up-circle:before {
  content: '\eb38';
}
.icon-up-square-fill:before {
  content: '\eb39';
}
.icon-up-square:before {
  content: '\eb3a';
}
.icon-up:before {
  content: '\eb3b';
}
.icon-upload:before {
  content: '\eb3c';
}
.icon-USB-fill:before {
  content: '\eb3d';
}
.icon-USB:before {
  content: '\eb3e';
}
.icon-user:before {
  content: '\eb3f';
}
.icon-verified:before {
  content: '\eb40';
}
.icon-vertical-align-botto:before {
  content: '\eb41';
}
.icon-vertical-align-middl:before {
  content: '\eb42';
}
.icon-vertical-align-top:before {
  content: '\eb43';
}
.icon-verticalleft:before {
  content: '\eb44';
}
.icon-verticalright:before {
  content: '\eb45';
}
.icon-video-fill:before {
  content: '\eb46';
}
.icon-video:before {
  content: '\eb47';
}
.icon-videocameraadd:before {
  content: '\eb48';
}
.icon-View:before {
  content: '\eb49';
}
.icon-wallet-fill:before {
  content: '\eb4a';
}
.icon-wallet:before {
  content: '\eb4b';
}
.icon-warning-circle-fill:before {
  content: '\eb4c';
}
.icon-warning-circle:before {
  content: '\eb4d';
}
.icon-wechat:before {
  content: '\eb4e';
}
.icon-weibo-circle-fill:before {
  content: '\eb4f';
}
.icon-weibo-square-fill:before {
  content: '\eb50';
}
.icon-weibo:before {
  content: '\eb51';
}
.icon-whatsapp:before {
  content: '\eb52';
}
.icon-wifi:before {
  content: '\eb53';
}
.icon-windows-fill:before {
  content: '\eb54';
}
.icon-windows:before {
  content: '\eb55';
}
.icon-woman:before {
  content: '\eb56';
}
.icon-wrench-fill:before {
  content: '\eb57';
}
.icon-wrench:before {
  content: '\eb58';
}
.icon-yahoo-fill:before {
  content: '\eb59';
}
.icon-yahoo:before {
  content: '\eb5a';
}
.icon-Youtube-fill:before {
  content: '\eb5b';
}
.icon-Youtube:before {
  content: '\eb5c';
}
.icon-YUAN-circle-fill:before {
  content: '\eb5d';
}
.icon-YUAN:before {
  content: '\eb5e';
}
.icon-yuque-fill:before {
  content: '\eb5f';
}
.icon-yuque:before {
  content: '\eb60';
}
.icon-zan:before {
  content: '\eb61';
}
.icon-zhihu-circle-fill:before {
  content: '\eb62';
}
.icon-zhihu-square-fill:before {
  content: '\eb63';
}
.icon-zhihu:before {
  content: '\eb64';
}
.icon-zoomin:before {
  content: '\eb65';
}
.icon-zoomout:before {
  content: '\eb66';
}
