/**
 * OPPO Sans Fonts
 */
@font-face {
  font-family: 'OPPOSans';
  src:
    url(https://cdn.yufan.me/opposans/OPPOSans-Regular.woff2) format('woff2'),
    url(https://cdn.yufan.me/opposans/OPPOSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OPPOSans';
  src:
    url(https://cdn.yufan.me/opposans/OPPOSans-Medium.woff2) format('woff2'),
    url(https://cdn.yufan.me/opposans/OPPOSans-Medium.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OPPOSans';
  src:
    url(https://cdn.yufan.me/opposans/OPPOSans-Bold.woff2) format('woff2'),
    url(https://cdn.yufan.me/opposans/OPPOSans-Bold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}
