/* Table of Contents ----------------------------------- */

.post-menu {
  position: fixed;
  display: table;
  top: 0;
  right: -18.125rem;
  bottom: 0;
  width: 17.5rem;
  height: 100%;
  background-color: #fafafa;
  border-left: 0.0625rem solid #f0f0f0;
  opacity: 1;
  z-index: 880;
  font-weight: 400;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.display-menu-tree .post-menu {
  -webkit-transform: translateX(-18.125rem);
  -moz-transform: translateX(-18.125rem);
  -ms-transform: translateX(-18.125rem);
  -o-transform: translateX(-18.125rem);
  transform: translateX(-18.125rem);
}

.post-menu::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

.post-menu::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.post-menu::-webkit-scrollbar-button:start:decrement,
.post-menu::-webkit-scrollbar-button:end:increment {
  display: block;
}

.post-menu::-webkit-scrollbar-button:vertical:start:increment,
.post-menu::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

.post-menu::-webkit-scrollbar-track:vertical,
.post-menu::-webkit-scrollbar-track:horizontal {
  background-clip: padding-box;
  background-color: #191919;
  border: 0 solid transparent;
}

.post-menu::-webkit-scrollbar-track:hover {
  background-color: #191919;
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.post-menu::-webkit-scrollbar-track:active {
  background-color: #191919;
  -webkit-box-shadow:
    inset 1px 0 0 rgba(0, 0, 0, 0.14),
    inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow:
    inset 1px 0 0 rgba(0, 0, 0, 0.14),
    inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow:
    inset 1px 0 0 rgba(0, 0, 0, 0.14),
    inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

.post-menu::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 40px;
  padding-top: 100px;
  border-radius: 2px;
  -webkit-box-shadow:
    inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow:
    inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow:
    inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.post-menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.post-menu::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.post-menu::-webkit-scrollbar-thumb:vertical,
.post-menu::-webkit-scrollbar-thumb:horizontal {
  border: 0 solid transparent;
}

.toggle-menu-tree {
  top: 0;
  bottom: 0;
  font-size: 1.375rem;
  position: fixed;
  right: 0;
  margin-right: -5rem;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 0.35rem;
  color: #555;
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  line-height: 6.25rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #f0f0f0;
  opacity: 1;
  font-family: -apple-system;
  z-index: 890;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
  -moz-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.117);
}

.display-menu-tree .toggle-menu-tree {
  background: #fafafa;
  padding-left: 0;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  margin-right: -1.5625rem;
  -webkit-transform: translateX(-17.5rem);
  -moz-transform: translateX(-17.5rem);
  -ms-transform: translateX(-17.5rem);
  -o-transform: translateX(-17.5rem);
  transform: translateX(-17.5rem);
}

.toggle-menu-tree i {
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.display-menu-tree .toggle-menu-tree i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toggle-menu-tree:hover {
  background: #fafafa;
  -webkit-transform: translateX(-1.25rem);
  -moz-transform: translateX(-1.25rem);
  -ms-transform: translateX(-1.25rem);
  -o-transform: translateX(-1.25rem);
  transform: translateX(-1.25rem);
}

.toggle-menu-tree.show {
  right: 0;
}

.toggle-menu-tree.hide {
  right: -5.3125rem;
}

.display-menu-tree .toggle-menu-tree.hide {
  right: 0;
}

.toc-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -3rem;
  overflow-x: hidden;
  overflow-y: auto;
  --webkit-overflow-scrolling: touch;
}

.toc-content {
  margin-right: 3rem;
  padding-top: 2.875rem;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.post-menu-title {
  font-size: 1.5rem;
  text-align: left;
  line-height: 3.6rem;
  width: 100%;
  font-weight: 700;
  padding: 0 2.5rem;
  color: #202020;
}

.index-menu {
  padding-top: 2rem;
}

.index-menu-list {
  line-height: 1.8em;
  list-style: none;
  padding: 0;
}

.index-menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-menu-item > .index-menu-list span.menu-content {
  padding-left: 2rem;
}

.index-menu-item > .index-menu-list > .index-menu-item > .index-menu-list span.menu-content {
  padding-left: 4rem;
}

.index-menu-item.current > a.index-menu-link {
  background: #f5f5f5;
  color: #1abc9c;
  font-weight: 700;
}

a.index-menu-link {
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
  padding: 0.375rem 2.5rem;
  position: relative;
  display: block;
}

a.index-menu-link:hover {
  background: #efefef;
  color: #333;
}
