---
import { actions } from 'astro:actions'
import SingleLayout from '@/layouts/admin/SingleLayout.astro'
import { ADMIN_ENDPOINTS } from '@/middleware'

const result = Astro.getActionResult(actions.registerAdmin)
if (result && !result.error) {
  return Astro.redirect(ADMIN_ENDPOINTS.login)
}
 else {
  console.error(result)
  Astro.redirect('/')
}
---

<SingleLayout title="注册管理员账号">
  <form method="post" action={actions.registerAdmin} id="installForm">
    <div class="flex-fill">
      <div class="row g-3 mb-5 px-5">
        <input class="form-control mb-2" placeholder="昵称" name="name" type="text" required="required" />
        <input class="form-control mb-2" placeholder="邮箱" name="email" type="email" required="required" />
        <input class="form-control mb-2" placeholder="密码" name="password" type="password" required="required" />
      </div>
      <div class="form-submit text-center">
        <input name="submit" type="submit" id="submit" class="btn btn-primary col-4" value="注册管理员" />
      </div>
    </div>
  </form>
</SingleLayout>
