---
import { actions } from 'astro:actions'
import Token from '@/components/partial/Token.astro'
import SingleLayout from '@/layouts/admin/SingleLayout.astro'

const result = Astro.getActionResult(actions.userLogin)
if (result && !result.error) {
  return Astro.redirect('/')
}
---

<SingleLayout title="用户登陆">
  <form method="post" action={actions.userLogin} id="loginForm">
    <Token />
    <div class="flex-fill">
      <div class="row g-3 mb-5 px-5">
        <input class="form-control mb-2" placeholder="邮箱" name="email" type="email" required="required" />
        <input class="form-control mb-2" placeholder="密码" name="password" type="password" required="required" />
      </div>
      <div class="form-submit text-center">
        <input name="submit" type="submit" id="submit" class="btn btn-primary col-4" value="登陆" />
      </div>
    </div>
  </form>
</SingleLayout>
